@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Next updates soon</p>


    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Transportation articles</h5>
                <p class="card-text">Current information about road disruptions and delays in public transportation</p>
            </div>
            <div class="card-footer">
                <small>
                    <a href="/articles" class="btn btn-primary">Go</a>
                </small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Culture articles</h5>
                <p class="card-text">The latest cultural events</p>
            </div>
            <div class="card-footer">
                <small>
                    <a href="/articles" class="btn btn-primary">Go</a>
                </small>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Entertainment articles</h5>
                <p class="card-text">Places and entertainment events such as pubs, clubs or parties, rated by the users.</p>
            </div>
            <div class="card-footer">
                <small>
                    <a href="/articles" class="btn btn-primary">Go</a>
                </small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gastronomy articles</h5>
                <p class="card-text">A list of local restaurants</p>
            </div>
            <div class="card-footer">
                <small>
                    <a href="/articles" class="btn btn-primary">Go</a>
                </small>
            </div>
        </div>
    </div>
</div>
