@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Next updates soon</a>.</p>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Articles</h5>
            <p class="card-text">Articles about transport are here</p>
            <a href="/articles" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>
